<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
    bootstrap="autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true">

  <testsuite name="PhpWordCloud">
      <directory>.</directory>
  </testsuite>

</phpunit>